body {
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
}
.section-padding {
    padding: 30px 0;
}
.container {
    width: 90%;
    margin: 0 auto; 
}
.flexiable-container {
    display: flex;
}
.half-width {
    width: 50%;
    padding: 0 5%;
}
/* Welcome Section CSS */
.right-side img {
    width: 100%;
} 
.welcome-section {
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
}
.abc {
    color:orange;
}
/* Welcome-section-CSS-end */

/* Dream-Big-section-CSS-start */
.left-side a {
    background-color: orange;
    padding: 10px 30px;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px;
}
.dream-big {
    background-image:url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding: 30px 0;
}
/* Experiance-saction-start */
.ex-item {
    /* border: 1px solid gray;  */
    margin: 0 5%;
    padding: 2%;
    box-shadow: 12px 15px 20px lightgray;
}
#item-1 {
    border-left: 5px solid;
    border-image:linear-gradient(red,blue);
    border-image-slice: 1;
}
#item-2 {
    border-left: 5px solid;
    border-image:linear-gradient(blue,red);
    border-image-slice: 1;
}
.abc {
    background-position: left;
}

/* Footer-Section-start */
.footer-section p {
    text-align: center;
}
/* Footer-Section-End */